.list-container {
  padding: 6rem 2rem 2rem;
}

form {
  margin-bottom: 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.character-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  color: black;
}

.character-card {
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
 .character-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
  }
  img {
    width: 100%;
    display: block;
  }